---
title: About this app
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>About this app</h1>
  <p class="doc">
    Sample application developed for demonstrating middleman-search gem
  </p><!-- .doc -->
</div><!-- .welcome -->
