---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    Middleman 3 test application
    Acá hay un texto en español para probar el i18n de middleman-search
    <%= partial 'shared/some_partial' %>
  </p><!-- .doc -->
  <p>
    <a href="search.json">search.json</a>
  </p>
</div><!-- .welcome -->
