---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    Middleman 3 test application
  </p><!-- .doc -->
  <p>
    <a href="search.json">search.json</a>
  </p>
</div><!-- .welcome -->
