---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    This is a Middleman 4 sample application for testing middleman-search
  </p><!-- .doc -->
  <p>
    <a href="/about.html">About</a>
  </p>
</div><!-- .welcome -->
